.advantages {
  background-color: $special_black;
  color: $basic-white;
}

.advantages__wrapper {
  padding-top: 112px;
  padding-bottom: 110px;
}

.advantages__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 77px;

  @media (max-width: $tablet-width) {
    font-size: 38px;
    line-height: 44px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 40px;
  }

  span {
    color: $basic-orange;
  }
}

.advantages__price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 51px;
}

.advantages__old-price {
  font-size: 36px;
  line-height: 43px;
  color: $basic_grey;
  position: relative;
  margin-right: 47px;

  @media (max-width: $mobile-width) {
    font-size: 26px;
    line-height: 29px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 2px;
    background-color: $basic_grey;
    top: 22px;
    left: -10px;

    @media (max-width: $mobile-width) {
      width: 82px;
      top: 14px;
    }
  }
}

.advantages__new-price {
  font-size: 48px;
  line-height: 57px;

  @media (max-width: $mobile-width) {
    font-size: 30px;
    line-height: 35px;
  }
}

.advantages__list {
  list-style: none;
  display: flex;
  padding: 0 58px;
  margin: 0;
  margin-bottom: 24px;
  justify-content: space-around;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 0;
  }
}

.advantages__item {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.advantages__img-box {
  min-height: 175px;

  @media (max-width: $mobile-width) {
    min-height: auto;
  }
}

.advantages__description {
  text-align: center;
  margin-top: 66px;

  @media (max-width: $mobile-width) {
    margin-top: 5px;
  }

  span {
    color: $basic-orange;
  }

  &--delivery {
    font-size: 36px;
    line-height: 43px;
    margin-top: 28px;

    @media (max-width: $mobile-width) {
      margin-top: 5px;
    }

    span {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.advantages__btn-order {
  width: 256px;
  min-height: 56px;
  display: block;
  margin: 0 auto;
  background-color: $basic-orange;
  color: $basic_black;
  font-family: "Rubik", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 18px 10px 10px;
  border-radius: 7px;
}
