.page-header {
  background-color: $special_black;
}

.page-header__wrapper {
  display: flex;
  padding-top: 23px;
  padding-bottom: 17px;
}

.page-header__logo {
  margin-right: 30px;

  @media (max-width: $tablet-width) {
    margin-right: auto;
  }
}

.page-header__menu-button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    color: $basic-white;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    margin-top: 5px;
    order: -1;
    margin-right: 20px;
  }
}

.page-header__menu {
  flex-grow: 3.5;
  margin-right: 20px;
  padding-top: 7px;
}

.page-header__menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  max-width: 720px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    max-width: none;
  }
}

.page-header__menu-item {
  margin-left: 10px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.page-header__info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    flex-grow: 0;
  }
}

.page-header__phone {
  margin-right: 10px;
  display: block;
  margin-top: 7px;

  @media (max-width: $tablet-width) {
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 3px;
    margin-right: 15px;
  }

  span {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  svg {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}

.page-header__basket {
  position: relative;
  display: block;
  padding: 1px;
  margin-right: 24px;

  @media (max-width: $mobile-width) {
    margin-right: 10px;
  }
}

.page-header__basket-counter {
  display: block;
  position: absolute;
  background-color: $basic-orange;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  bottom: 1px;
  right: -7px;
  color: $basic_black;
}

// close

.page-header--close-menu .page-header__menu {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

// open

.page-header--open-menu {
  @media (max-width: $tablet-width) {
    background-color: $special_black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow-y: scroll;
    min-height: 100vh;
  }
}

.page-header--open-menu .page-header__menu {
  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    z-index: 1;
  }
}

// no-js

.page-header--nojs {
  @media (max-width: $tablet-width) {
    display: block;
    position: static;
    background-color: $basic_orange;
  }
}

.page-header--nojs .page-header__wrapper {
  @media (max-width: $tablet-width) {
    flex-wrap: wrap;

    &::before {
      content: "";
      width: 25px;
      height: 1px;
    }
  }
}

.page-header--nojs .page-header__menu-button {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header--nojs .page-header__menu {
  @media (max-width: $tablet-width) {
    display: block;
    background-color: $special_black;
    padding-top: 8px;
  }
}
