.promo {
  background-color: $basic-yellow;
}

.promo__wrapper {
  padding-top: 104px;
  padding-bottom: 95px;
  position: relative;
}

.promo__title {
  color: $basic-white;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 144px;
  line-height: 152px;
  margin-bottom: 31px;
  position: relative;
  z-index: 1;
}

.promo__paragraph {
  font-size: 24px;
  line-height: 28px;
  max-width: 650px;
  margin: 0;
  margin-bottom: 109px;
}

.promo__sup-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.promo__sup-paragraph {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  max-width: 350px;
}

.promo__img-box {
  position: absolute;
  top: -80px;
  right: -48px;
  z-index: 0;
}

.promo__wrapper *:not(.promo__img-box) {
  position: relative;
  z-index: 1;
}
